In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [5]:
os.getcwd()
os.listdir(os.getcwd())

['videogames-sales-dataset',
 '.DS_Store',
 'gamecomm.csv',
 'video-games-review',
 'videogames-sales-dataset.zip',
 'Untitled.ipynb',
 'ETSproject-master',
 'Video_Games_Sales_as_at_22_Dec_2016.csv',
 '.ipynb_checkpoints',
 'video-games-review.zip',
 'project2_AG.ipynb',
 '.git',
 'ETSproject-master.zip']

In [6]:
csv_file2 = "Video_Games_Sales_as_at_22_Dec_2016.csv"
csv_file3 = "XboxOne_GameSales.csv"
csv_file4 = "gamecomm.csv"

In [7]:
Video_Games_Sales_as_at_22_Dec_2016_df = pd.read_csv(csv_file2)
Video_Games_Sales_as_at_22_Dec_2016_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
XboxOne_GameSales_df = pd.read_csv(csv_file3, encoding="ISO-8859-1")
XboxOne_GameSales_df.head()

FileNotFoundError: [Errno 2] File b'XboxOne_GameSales.csv' does not exist: b'XboxOne_GameSales.csv'

In [ ]:
PS4_GameSales_df.head()

In [9]:
gamecomm_df = pd.read_csv(csv_file4, error_bad_lines=False, header=0)
gamecomm_df.columns = gamecomm_df.columns.str.replace(' ', '')
print(gamecomm_df.columns)

Index(['game_title', 'editorial_rating', 'user_rating', 'game_price', 'editor',
       'type', 'date', 'device'],
      dtype='object')

b'Skipping line 482: expected 8 fields, saw 9\n'

In [10]:
gamecomm_df = gamecomm_df[["game_title","editorial_rating","editor"]].copy()
gamecomm_df.head()

                                 game_title  editorial_rating        editor
0            Kingpin : Life of Crime sur PC                19     Interplay
1                 Batman Arkham City sur PC                19    Rocksteady
2  Baldur's Gate II : Shadows of Amn sur PC                19     Interplay
3                      Splinter Cell sur PC                19       Ubisoft
4          The Witcher 3 : Wild Hunt sur PC                19  CDProjektRED

In [11]:
Video_Games_Sales_as_at_22_Dec_2016_df = Video_Games_Sales_as_at_22_Dec_2016_df[["Name","Publisher","NA_Sales","Global_Sales"]].copy()
Video_Games_Sales_as_at_22_Dec_2016_df.head()

                       Name Publisher  NA_Sales  Global_Sales
0                Wii Sports  Nintendo     41.36         82.53
1         Super Mario Bros.  Nintendo     29.08         40.24
2            Mario Kart Wii  Nintendo     15.68         35.52
3         Wii Sports Resort  Nintendo     15.61         32.77
4  Pokemon Red/Pokemon Blue  Nintendo     11.27         31.37

In [30]:
# remove French suffixes from game_title column
gamecomm_df['game_title'].replace(regex=True,inplace=True,to_replace=r'sur',value=r'')
gamecomm_df['game_title'].replace(regex=True,inplace=True,to_replace=r'PC',value=r'')
gamecomm_df['game_title'].replace(regex=True,inplace=True,to_replace=r'ONE',value=r'')
gamecomm_df['game_title'].replace(regex=True,inplace=True,to_replace=r'PS4',value=r'')

In [36]:
gamecomm_df.head()

                            game_title  editorial_rating        editor
0            Kingpin : Life of Crime                  19     Interplay
1                 Batman Arkham City                  19    Rocksteady
2  Baldur's Gate II : Shadows of Amn                  19     Interplay
3                      Splinter Cell                  19       Ubisoft
4          The Witcher 3 : Wild Hunt                  19  CDProjektRED